.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  color: #FFFFFF;
  width: 70.122%;
}

@media screen and (max-width: 1024px) {
  .intro__list {
    width: 74.355%;
  }
}

@media screen and (max-width: 768px) {
  .intro__list {
    width: 95.835%;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    width: 100%;
  }
}